<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="TheDatabase" providerName="System.Data.ProviderName" connectionString="Valid Connection String;" />
  </connectionStrings>
  
  <appSettings>
    <add key="MinOrderAmountForDelivery" value="15" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
